
body{
            background-image: url('aji.jpg');
            color: white;
            border: 5px solid grey;
            padding:0px;
            margin: 0px;


                    }
                    h1{
                        color: lightgreen;
                        border: 5px solid blue;
                        margin: cover;
                        text-align: center;

                    }
                    .dude{
                        background-color: lightblue transparent;
                        color: red;
                        margin: cover;
                        padding:auto;
                    }
                    span{color:blueviolet;
                    text-decoration:left;
                /* text-size-adjust: 5465px; */
                /* text-size-adjust: revert; */
                -webkit-box-flex: inherit;
                box-sizing: border-box;
            }
footer{color:rgb(12, 17, 13);text-align:center;
    border-bottom: 1px solid color;background:chartreuse;
    .third{
      color :blue 

        
    }